%h1 Blahg

%h2 Stories

%ul.stories
  - for story in @stories
    %li{ id: dom_id(story) }
      %i= story.title
      by
      = story.author.username
      on
      = story.created_at.strftime '%Y-%m-%d'
